//colors
$clr1:#312e28;
$clr2:#ffffff;
$clr3:#ffffff;
$clr4:#ffffff;
$clr5:rgb(65, 58, 59);
$clr6:rgb(31, 167, 172);


//measure
$header-high: 4rem;


//breakpoints
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$normal-breakpoint: 1100px;